@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poppins&display=swap');
* {
    font-family:'Poppins',sans-serif;
      
}


.bc {
      display: block;
     
}

#b {
      transition: 1s;
      color: black;
      background: white;
      margin-top: 65%;
      margin-left: 37%;
      height: 45px;
      width: 90px;
      border: 2px grey solid;
      border-radius: 6px;
      background: lightgrey;
      box-shadow:  10px 10px 26px #7d7d7d,
             -18px -18px 36px #ffffff;
      
}

#b:hover {
      color: white;
      background: black;
      border: 2px black solid;
}

#b: active {
      color: white;
      background: black;
      border: 2px black solid;
}

.bc {
     margin-top: 0;
     display: block;
}

#m1 {
      text-align: center;
      font-size: 15px;
}

#video {
      
      margin-top: 0;
      margin-left: 0%;
}
#m2 {
      text-align: center;
      font-size: 15px;
}


      
